<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Harshit's Personal Site</title>
    <link rel="stylesheet" href="Angela's%20Personal%20Site_files/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tbody><tr>
        <td><img src="static/harshit.png" alt="angela profile picture"></td>
        <td><h1>Harshit</h1>
        <p><em>Self-taught programmer <strong><a href="http://127.0.0.1:5000//">Coconut shell</a></strong>.</em></p>
        <p>I am an python and Web Developer. I ❤️ meditation , occult and deep research in any intresting topic.</p></td>
      </tr>
    </tbody></table>
    <hr>
    <h3>Books and Teaching</h3>
    <ul>
      <li>Identity</li>
      <li>Amantilado by edgar ellen po: revised</li>
    </ul>
    <hr>
    <h3>Learning Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2010-2016</td>
          <td>Middle school</td>
        </tr>
        <tr>
          <td>2017-2019</td>
          <td>High school complete from KV almora</td>
        </tr>
        <tr>
          <td>2019-2025</td>
          <td>Break from life</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tbody><tr>
        <td>meditation</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>* * *</td>
      </tr>
    </tbody></table>
    <hr>
    <a href="https://github.io/cv/hobbies.html">My github</a>
    <a href="https://github.com/HarshitPant-999/100_days_of_code">My current hotest repo</a>
  

</body></html>
